<a href="https://colab.research.google.com/github/kguan2/githubtest/blob/master/quiz4_shell_command.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2021-02-24 00:32:29--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data.3’

adult.data.3        100%[===================>]   3.79M  7.34MB/s    in 0.5s

2021-02-24 00:32:30 (7.34 MB/s) - ‘adult.data.3’ saved [3974305/3974305]

In [61]:
!wc -l adult.data

32562 adult.data

In [62]:
!wc -w adult.data

488415 adult.data

In [63]:
!head -n 2 adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

In [64]:
!echo "age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class" > header.csv

In [75]:
!cat header.csv adult.data > adult.csv

In [76]:
!head -n 1 adult.csv

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class

In [77]:
!grep ", ?," adult.csv | wc -l

2399

In [74]:
!sed "s/, ?,/,,/g" adult.csv >  adult.csv

In [78]:
!head -n 120 adult.csv | tail -n 20 > adult_sample.csv

In [80]:
!cat adult_sample.csv header.csv > adult_sample_with_header.csv

In [81]:
!sort adult.csv | uniq -d| wc -l

23

In [82]:
!sort adult.csv | uniq -c | sort -r | head -n 3

      3 25, Private, 195994, 1st-4th, 2, Never-married, Priv-house-serv, Not-in-family, White, Female, 0, 0, 40, Guatemala, <=50K
      2 90, Private, 52386, Some-college, 10, Never-married, Other-service, Not-in-family, Asian-Pac-Islander, Male, 0, 0, 35, United-States, <=50K
      2 49, Self-emp-not-inc, 43479, Some-college, 10, Married-civ-spouse, Craft-repair, Husband, White, Male, 0, 0, 40, United-States, <=50K

In [83]:
!cut -d "," -f 2 adult.csv | head -3

workclass
 State-gov
 Self-emp-not-inc

In [84]:
!cut -d "," -f 2 adult.csv | sort | uniq -c

      1
   1836  ?
    960  Federal-gov
   2093  Local-gov
      7  Never-worked
  22696  Private
   1116  Self-emp-inc
   2541  Self-emp-not-inc
   1298  State-gov
     14  Without-pay
      1 workclass